// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.chosen-container-multi .chosen-choices li.search-choice {
  margin: 6px 5px 6px 0;
  padding: 5px 20px 5px 5px;
}
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  top: 6px;
}
.chosen-container {
  margin-bottom: 30px;
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  height: 35px;
  padding-left: 5px;
}
.tab-content.custom {
  background: #fff;
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-top: none;
}
.profile .profile-image {
  width: 100%;
  background-color: #fff;
  border: 2px solid #eee;
  border-radius: 2px;
  height: 160px;
}
.img-wrap {
  border: 1px solid #ddd;
}
.inline-block {
  display: inline-block;
  line-height: 30px;
  font-size: 20px;
}